<nav *ngIf="loginService.authenticated"
     class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top top-nav">
  <span class="navbar-brand">Binance Maker</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/trade']">Trade</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/history']">History</a>
      </li>
    </ul>
    <ul class="navbar-nav">

      <li class="nav-item">
        <span class="navbar-text">
          BTCUSDT: {{ticker['BTCUSDT'] | currency}}
        </span>
      </li>

      <li class="nav-item dropdown" style="z-index: 1099;">
        <a class="nav-link dropdown-toggle" href="#" id="toolDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right"
             style="z-index: 9999 !important;"
             aria-labelledby="toolDropdown">
          <a class="dropdown-item" [routerLink]="['/config']">Settings</a>
          <div *ngIf="makerApi.sessionId != null" class="dropdown-divider"></div>
          <button *ngIf="makerApi.sessionId != null"
                  class="dropdown-item"
                  style="cursor: pointer;"
                  (click)="logout()">
            Logout
          </button>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="outline: none;" href="javascript:void(0);"
           data-toggle="modal"
           data-target="#aboutModal"><i class="fa fa-question"></i></a>
      </li>

    </ul>
  </div>
</nav>

<div *ngIf="loginService.authenticated" class="container-fluid app-status-bar">
  <div class="alert {{alertClass}}" style="border-radius: 0 !important;">
    <div style="display: inline;">
      Maker Socket: {{status.makerSocketState}}
    </div>
    <div style="display: inline;">
      --
    </div>
    <div style="display: inline;">
      Binance Socket: {{status.binanceUserSocketState}}
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Modal -->
<app-about></app-about>
