.app-status-bar {
    .alert {
        margin: 0px;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    overflow: hidden;
    position: fixed;
    top: 40px;
    z-index: 999;
    padding-top: 0px;
    padding-bottom: 2px;
    background: white;
}