<div class="container-fluid">

  <br/>

  <table class="table table-sm">
    <tr>
      <th>Close Time</th>
      <th>Symbol</th>
      <th>Status</th>
      <th>Percent</th>
    </tr>
    <tr *ngFor="let trade of trades" [ngClass]="trade.__rowClassName">
      <td>
        {{trade.CloseTime | date:"LLL dd HH:mm:ss"}}
        <br/>
        <span style="font-size: 0.75rem"><a
            [routerLink]="['/trade', trade.TradeID]">{{trade.TradeID}}</a></span>
      </td>
      <td>{{trade.Symbol}}</td>
      <td>{{trade.Status}}</td>
      <td>{{trade.ProfitPercent | number:".3-3"}}%</td>
    </tr>
  </table>

</div>
