<div class="card">
  <div class="card-header d-flex align-items-baseline"
       style="padding-top: 4px; padding-bottom: 4px;">

    <b class="card-title d-flex mb-0 mr-auto">Trades</b>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" [(ngModel)]="showJson">
      <label class="form-check-label">JSON</label>
    </div>

    <button type="button"
            class="btn btn-sm btn-secondary dropdown-toggle"
            data-toggle="dropdown">
      Archive
    </button>
    <div class="dropdown-menu">
      <a href="javascript:void(0);" class="dropdown-item"
         (click)="archiveAll()">All</a>
      <a href="javascript:void(0);" class="dropdown-item"
         (click)="archiveCanceledFailed()">Canceled/Failed</a>
    </div>

  </div>
  <div class="card-body" style="margin: 0; padding: 0;">
    <table class="table table-sm table-bordered"
           style="margin-bottom: 0; table-layout: fixed;">
      <tr>
        <th>Symbol</th>
        <th>Buy</th>
        <th>Current</th>
        <th>Sell</th>
        <th>Stops</th>
        <th>Actions</th>
        <th *ngIf="showJson" colspan="2">JSON</th>
      </tr>
      <tr *ngFor="let trade of trades" [ngClass]="trade.__rowClassName">
        <td class="nowrap">
          <a href="javascript:void(0);" (click)="onSymbolClick(trade.Symbol)">{{trade.Symbol}}</a>
          <br/>
          {{trade.Status}}
          <br/>
          O: {{trade.OpenTime | date:"LLL dd HH:mm:ss"}}
          <br/>
          <span *ngIf="trade.CloseTime">
            C: {{trade.CloseTime| date:"LLL dd HH:mm:ss"}}
          </span>
          <span
              style="display: block; font-size: 0.675rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {{trade.LocalID}}
          </span>
        </td>

        <!-- Buy status. -->
        <td>
          <table class="table-hover">
            <tr>
              <th>Status</th>
              <td>{{trade.LastBuyStatus}}</td>
            </tr>
            <tr>
              <th>Price</th>
              <td>{{trade.BuyOrder.Price | number:".8-8"}}</td>
            </tr>
            <tr>
              <th>Quantity</th>
              <td>{{trade.BuyOrder.Quantity}}</td>
            </tr>

            <tr>
              <th>Filled</th>
              <td>{{trade.BuyFillQuantity | number:".0-8"}}</td>
            </tr>
            <tr>
              <th>Price</th>
              <td *ngIf="trade.BuyFillQuantity > 0">
                {{trade.AverageBuyPrice | number:".8-8"}}
              </td>
              <td *ngIf="trade.BuyFillQuantity == 0">--</td>
            </tr>
            <tr>
              <th>Cost</th>
              <td *ngIf="trade.BuyFillQuantity > 0">
                {{trade.BuyCost | number:".8-8"}}
              </td>
              <td *ngIf="trade.BuyFillQuantity == 0">--</td>
            </tr>
            <tr>
              <th>Off %</th>
              <td>{{trade.buyPercentOffsetPercent | number:".3-3"}}</td>
            </tr>
          </table>
        </td>

        <td>
          <table>
            <tr>
              <th>Last</th>
              <td>{{trade.LastPrice | number:".8-8"}}</td>
            </tr>
            <tr>
              <th>Profit %</th>
              <td *ngIf="trade.ProfitPercent">
                {{trade.ProfitPercent | number:".3-3"}}%
              </td>
              <td *ngIf="!trade.ProfitPercent">
                --
              </td>
            </tr>
            <tr>
              <th>Profit</th>
              <td *ngIf="trade.Profit">
                {{trade.Profit | number:".8-8"}}
              </td>
              <td *ngIf="!trade.Profit">
                --
              </td>
            </tr>
          </table>
        </td>

        <td>
          <table>
            <tr>
              <th>Type</th>
              <td>{{trade.SellOrder.Type}}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{trade.SellOrder.Status}}</td>
            </tr>
            <tr>
              <th>Price</th>
              <td>{{trade.SellOrder.Price}}</td>
            </tr>
            <tr>
              <th>Quantity</th>
              <td>{{trade.SellOrder.Quantity}}</td>
            </tr>

            <tr>
              <td colspan="2">
                <hr/>
              </td>
            </tr>

            <tr>
              <th>Filled</th>
              <td>{{trade.SellFillQuantity > 0 && trade.SellFillQuantity ||
                "--"}}
              </td>
            </tr>
            <tr>
              <th>Price</th>
              <td>{{trade.AverageSellPrice || "--"}}</td>
            </tr>
            <tr>
              <th>Cost</th>
              <td>{{trade.SellCost || "--"}}</td>
            </tr>
          </table>
        </td>

        <!-- Stops. -->
        <td class="nowrap">
          <table class="table-hover">
            <tr>
              <th>Stop Loss</th>
              <td>
                <a href="javascript:void(0);"
                   data-toggle="dropdown"
                >{{trade.StopLoss.Enabled}}</a>
                <div class="dropdown-menu dropdown-menu-right"
                     style="margin: 0; padding: 0">
                  <app-stoploss-form [trade]="trade"></app-stoploss-form>
                </div>
              </td>
            </tr>
            <tr>
              <th>Percent</th>
              <td>{{trade.StopLoss.Percent}}</td>
            </tr>
            <tr>
              <th>Triggered</th>
              <td>{{(trade.StopLoss && trade.StopLoss.Triggered) || "--"}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <hr/>
              </td>
            </tr>
            <tr>
              <th>Trailing Stop</th>
              <td>
                <a href="javascript:void(0);"
                   data-toggle="dropdown"
                >{{trade.TrailingStop.Enabled}}</a>
                <div class="dropdown-menu dropdown-menu-right"
                     style="margin: 0; padding: 0">
                  <app-trailingstopform [trade]="trade"></app-trailingstopform>
                </div>
              </td>
            </tr>
            <tr>
              <th>Percent</th>
              <td>{{trade.TrailingStop.Percent}}</td>
            </tr>
            <tr>
              <th>Deviation</th>
              <td>{{trade.TrailingStop.Deviation}}</td>
            </tr>
          </table>

        </td>

        <td style="width: 130px;" tabindex="-1">
          <div class="row button-bar">
            <div class="col-12">
              <button type="button"
                      class="btn btn-primary btn-sm mb-1 btn-block"
                      [disabled]="trade.Status != TradeStatus.PENDING_BUY"
                      (click)="cancelBuy(trade)"
              >Cancel Buy
              </button>
            </div>
            <div class="col-12">
              <div class="btn-group btn-block">
                <button type="button"
                        class="btn btn-primary btn-sm dropdown-toggle mb-1 btn-block"
                        data-toggle="dropdown" aria-haspopup="true"
                        [disabled]="!trade.__canSell"
                        aria-expanded="false">
                  Sell
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <span class="dropdown-item"
                        (click)="limitSell(trade, 5)">Sell@5%
                  </span>
                  <span class="dropdown-item"
                        (click)="limitSell(trade, 1)">Sell@1%
                  </span>
                  <span class="dropdown-item"
                        (click)="limitSell(trade, 0.3)">Sell@0.3%
                  </span>
                  <span class="dropdown-item"
                        (click)="limitSell(trade, 0.1)">Sell@0.1%
                  </span>
                  <span class="dropdown-item"
                        (click)="limitSell(trade, 0.05)">Sell@0.05%
                  </span>
                  <span class="dropdown-item"
                        (click)="limitSell(trade, 0.01)">Sell@0.01%
                  </span>
                  <span class="dropdown-item"
                        (click)="limitSell(trade, 0)">Sell@0%
                  </span>
                  <div class="dropdown-divider"></div>
                  <span class="dropdown-item"
                        style="width: 200px; white-space: nowrap;">
                    <form #sellPercentForm
                          (ngSubmit)="limitSell(trade, sellPercentInput.value)">
                      <div class="input-group form-inline">
                        <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                        </div>
                        <input type="number" required class="form-control"
                               name="foo" #sellPercentInput
                               (click)="$event.stopPropagation();">
                        <div class="input-group-append">
                          <button type="submit"
                                  [disabled]="!sellPercentInput.value"
                                  class="btn btn-primary btn-sm">%
                          </button>
                        </div>
                      </div>
                    </form>
                  </span>
                  <div class="dropdown-divider"></div>
                  <span class="dropdown-item bg-warning"
                        (click)="marketSell(trade)">Market
                  </span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <button type="button"
                      class="btn btn-primary btn-sm mb-1 btn-block"
                      (click)="cancelSell(trade)"
                      [disabled]="trade.Status != TradeStatus.PENDING_SELL">
                Cancel Sell
              </button>
            </div>

            <div class="col-12">
              <button type="button"
                      class="btn btn-primary btn-sm mb-1 btn-block"
                      [disabled]="!trade.__canArchive"
                      (click)="archive(trade)">Archive
              </button>
            </div>

            <div class="col-12">
              <button type="button"
                      title="Stop Tracking Order"
                      (click)="abandon(trade)"
                      [disabled]="!trade.__canAbandon"
                      class="btn btn-primary btn-sm btn-block mb-1">
                Abandon
              </button>
            </div>

          </div>

        </td>

        <td *ngIf="showJson" colspan="2" style="font-size: 0.75rem;">
          <pre>{{trade | json}}</pre>
        </td>

      </tr>
    </table>
  </div>
</div>
