<div class="card">
  <div class="card-header d-flex align-items-baseline"
       style="padding-top: 4px; padding-bottom: 4px;">

    <b class="card-title d-flex mb-0 mr-auto">Trades</b>

    <div *ngIf="showArchiveButtons">
      <button type="button"
              class="btn btn-sm btn-secondary dropdown-toggle"
              data-toggle="dropdown">
        Archive
      </button>
      <div class="dropdown-menu">
        <a href="javascript:void(0);" class="dropdown-item"
           (click)="archiveAllClosed()">All Closed</a>
        <a href="javascript:void(0);" class="dropdown-item"
           (click)="archiveCanceledFailed()">Canceled/Failed</a>
      </div>
    </div>

  </div>
  <div class="card-body" style="margin: 0; padding: 0;">
    <table class="table table-sm table-bordered"
           style="margin-bottom: 0; table-layout: fixed;">
      <tr>
        <th>Symbol</th>
        <th>Buy</th>
        <th>Current</th>
        <th>Sell</th>
        <th>Stops</th>
        <th *ngIf="showTradeButtons">Actions</th>
      </tr>

      <tr app-trade-table-row *ngFor="let trade of trades" [trade]="trade"
          [ngClass]="trade.__rowClassName"
          [showTradeButtons]="true"></tr>

    </table>
  </div>
</div>
