table {
  font-size: 0.875rem;
  th, td {
    border: 0;
    padding: 0;
    margin: 0;
  }
  th {
    padding-right: 2px;
  }
  hr {
    margin: 4px;
  }
}

.nowrap {
  white-space: nowrap;
}

.form-group {
  label {
    margin-bottom: 0px;
    font-size: small;
  }
}

.sell-dropdown {
  top: -50px !important;
}