<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog"
     aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">Maker v{{VERSION}}</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Homepage</dt>
          <dd><a href="https://maker.crankykernel.com" target="_blank">https://maker.crankykernel.com</a></dd>

          <dt>Guide</dt>
          <dd><a href="https://maker.crankykernel.com/guide/" target="_blank">https://maker.crankykernel.com/guide/</a>
          </dd>

          <dt>FAQ</dt>
          <dd><a href="https://maker.crankykernel.com/faq/" target="_blank">https://maker.crankykernel.com/faq/</a>
          </dd>

          <dt>News</dt>
          <dd><a href="https://maker.crankykernel.com/news/" target="_blank">https://maker.crankykernel.com/news/</a>
          </dd>

          <dt>Issue Tracker</dt>
          <dd><a href="https://gitlab.com/crankykernel/maker/issues"
                 target="_blank"><i
              class="fab fa-github"></i> GitLab</a></dd>

          <dt>Telegram Group</dt>
          <dd><a href="https://t.me/makertool">https://t.me/makertool</a></dd>

          <dt>Donations</dt>
          <dd>
            Bitcoin: 3Hi1QJ9XvypdJvWpXRo4wPPtEY6PUAMtZc
            <br/>
            DOGE: D9HYSuSvMwKt6S9w75uX1btUMn4hbeKFQh
          </dd>
        </dl>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block"
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
